
<div >
<mat-card class="example-card">
    
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div>
            <h5>
                Title
            </h5>
            <p>
              </p>
        </div>
        <div>
            <p>
                Description
            </p>
            
        </div>
      <div>
        <h5 class="text-success"> Final Price
            <span class="text-primary">-20%</span>
        </h5>
        
        <h6 class="text-danger" style="text-decoration-line: line-through;">Original Price</h6>
        <P></P>
      </div>
      
    </mat-card-content>
    <mat-card-actions >
        <div class="Mybtn"> 
      <button mat-raised-button class="btn-outline-success"  >Add To Cart</button>
    </div>
    </mat-card-actions>
   
  </mat-card>
  
</div>