<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container1">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a style="padding-left:  2rem;" class="navbar-brand">Hello,{{fullname}}</a>
        
        <button class="btn btn-danger" (click)="logout()">logout</button>
      </nav>
    </div> 
    
    
</body>
</html> -->

<div *ngIf="role==='Admin'" >
        
    <app-admin></app-admin>
    

</div>
<div *ngIf="role==='User'" >
        
    <app-user></app-user>
    

</div>