<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-mt5">
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card card-registration my-4">
                    <div class="row g-0">
                      <div class="col-xl-6 d-none d-xl-block">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                          alt="Sample photo" class="img-fluid"
                          style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                      </div>
                      <div class="col-xl-6">
                        <div class="card-body p-md-5 text-black">
                          <h3 class="mb-5 text-uppercase">Student registration form</h3>
                          
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="user.FirstName" />
                                <label  class="form-label" for="form3Example1m" >First name</label>
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <input type="text" id="form3Example1n" class="form-control form-control-lg" [(ngModel)]="user.LastName" />
                                <label class="form-label" for="form3Example1n" >Last name</label>
                              </div>
                            </div>
                          </div>
          
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <input type="text" id="form3Example1m1" class="form-control form-control-lg" [(ngModel)]="user.Username" />
                                <label  class="form-label" for="form3Example1m1" >Username</label>
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <input type="email" id="form3Example1n1" class="form-control form-control-lg" [(ngModel)]="user.Email" />
                                <label  class="form-label" for="form3Example1n1" >Email</label>
                              </div>
                            </div>
                          </div>
          
                          <div class="form-outline mb-4">
                            <input type="password" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="user.Password"/>
                            <label  class="form-label" for="form3Example8"  >Password</label>
                          </div>
          
                          <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
          
                            <h6 class="mb-0 me-4">Role: </h6>
          
                            <div class="form-check form-check-inline mb-0 me-4">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="roleUser"
                                value="User" [(ngModel)]="user.Role" />
                              <label  class="form-check-label" for="roleUser">User</label>
                            </div>
          
                            <div class="form-check form-check-inline mb-0 me-4">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="roleAdmin"
                                value="Admin" [(ngModel)]="user.Role"/>
                              <label class="form-check-label" for="roleAdmin">Admin</label>
                            </div>
          
                            
          
                          </div>
                        
                                 
                          <div class="d-flex justify-content-end pt-3">
                            <button type="button" class="btn btn-light btn-lg">Reset all</button>
                            <button type="button" class="btn btn-warning btn-lg ms-2" (click)="onSubmit()" >Submit form</button>
                          </div>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</body>
</html>